<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=<device-width>, initial-scale=1.0">
	<title>Rectangle_db</title>
</head>
<body>
	<h1>Rectangle db</h1>

	
<div class="container">
	<h2>Database Results</h2>
	
	<table>
		<tr>
			<% results.forEach(function(r) { %>
			    <td><%= r.id %> - <%= r.name %></td>
			<% }); %>
		</td>
	</table>

	<ul>
	    <% results.forEach(function(r) { %>
		<li><%= r.id %> - <%= r.name %></li>
	    <% }); %>
	</ul>
	
	</div>
	
	<button><a onclick='location.href="/"'>GO BACK</a></button>
</body>
</html>