<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rectangle Database</title>
    <link href="./stylesheets/main.css" rel="stylesheet">
    <script src="./main.js" defer></script>

  </head>
  <body>
    <h1>Rectangles</h1>

    <form>
	<table id="table">
		<tr>
			<th>Name</th>
			<th>Color</th>
			<th>Width</th>
			<th>Height</th>
			<th></th>
			<th></th>
		</tr>
		<tr class='rectangles'>
			<td>name 1</td>
			<td>color</td>
			<td>width</td>
			<td>height</td>
			<th><button id="delete1">DELETE</button></th>
			<td><button id="update1">UPDATE</button></td>
		</tr>
	      </table>
   </form>

	<br>
	<button id="add">ADD</button>
	<button id="go-back" onclick='location.href="index.ejs"'>GO BACK</button>
	<button id="delete-all" >DELETE ALL</button>

  </body>
</html>